body {
    background-color: bisque;
}

.keyboard {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    padding: 20px; 
    background-color: #000000;
    width: 800px; 
    margin: 0 auto;
}

.row {
    display: flex;
    gap: 10px; /
}

.key {
    flex: 1;
    color: bisque;
    background-color: lightseagreen;
    border: 1px solid #ccc;
    text-align: center;
    padding: 15px; 
    cursor: pointer;
    box-shadow: 2px 5px 8px lightseagreen;
}

.number {
    color:olivedrab ;
    background-color:tan ;
    box-shadow: 2px 5px 8px tan;
}

.special {
    flex: 1;
    background-color: seagreen;
    color: #fff;
    box-shadow: 2px 5px 8px seagreen;
}

.space {
    flex: 5; 
    background-color: teal;
    color: black;
    box-shadow: 2px 5px 8px teal;
}
